mixin previewChat(img,name,message,time,newCount)
 .previewChat 
  .previewChat__logo
   //img(src=`${img}`, alt="")
  .previewChat__info 
    h2.previewChat__name #{name} 
    p.previewChat__message #{message}
  .previewChat__more 
    p.previewChat__time #{time}
    if(newCount)
     p.previewChat__more-message #{newCount}